.swap-active {
    border: 3px solid red;
}

.cards {
    margin: 2px;
    padding: 2px;
    height: 25vh;
    display: none;
}

.player-active {
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto; 
}

.grid-item {
    height: 32vh;
    width: 32vw;
}

.no-display {
    display: none;
}